asgiref==3.12.1
dj-database-url==3.1.2
Django==6.1.1
django-on-heroku==1.1.2
gunicorn==26.2.0
psycopg==3.3.6
python-decouple==3.8
pytz==2026.4
sqlparse==0.6.0
typing_extensions==4.16.0
whitenoise==6.12.0
